{% extends 'pdv/base.html' %}

{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'tabelas/tabelas.css' %}">
{% endblock %}

{% block content %}
<div class="titulo">
    <h2>Lista de Quartos</h2>
    <a href="{% url 'criar_quarto' %}" class="btn">Criar Quarto</a>
</div>
<table>
    <tr>
        <th>Numero</th>
        <th>Tipo de Quarto</th>
        <th>Preço</th>
    </tr>
    {% for quarto in quartos %}
    <tr>
        <td>{{ quarto.numero }}</td>
        <td>{{ quarto.tipo }}</td>
        <td>{{ quarto.preco }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}